*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-primary:#ed4d1b;
    --color-secondary: #ff9a3c;
    --color-white: #fff;
    --color-black:#000;
}

body{
    background: linear-gradient(90deg, #ffe7d1, #fff2e6 100%);
    padding: 0 1rem;
}