@media (max-width:600px){
   .cabecalho{
    flex-direction: column;
    gap: 15px;    
    width: 100vw;
    padding-bottom: 20px;
   }
   .cabecalho__img{    
    align-self: flex-start;
    width: 50px;    
    height: auto;
   }
   .navegacao{
    gap:initial;
    width: 100vw;
    justify-content: space-around;    
   }

   .first-section{
    flex-direction: column;
   }

   .Base{
      padding: 12px 12px 12px 12px;
   }

}



@media (max-width:390px){
   .cabecalho{
      padding: 12px 0px 12px 12px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
   .navegacao{
     display: none;
      gap: 16px;
    /* overflow: scroll; */
    width: auto;
    white-space: nowrap;
    flex-direction: column;
    padding-right: 12px;
   }
   .icon-menu{
      display: block;
   }

   /*MAIN*/
   .Base{
      width: calc(100% + 24px);
   }

   .first-section__box{
      
   }
   .first-section__img{
      width: 90vw;
   }
}