@media (max-width:600px){
   .cabecalho{
    flex-direction: column;
    gap: 15px;    
    width: 100vw;
    padding-bottom: 20px;
   }
   .cabecalho__img{    
    align-self: flex-start;
    width: 50px;    
   }
   .navegacao{
    gap:initial;
    width: 100vw;
    justify-content: space-around;    
   }

   .first-section{
    flex-direction: column;
   }

   .Base{
      padding: 12px 12px 12px 12px;
   }

}



@media (max-width:390px){
   .cabecalho{
      
      padding: 12px 0px 12px 12px;
      flex-wrap: wrap;
      width: 100vw;     
   }
   
   .navegacao{
     
      gap: 16px;
      overflow: scroll;
      width: auto;
      white-space: nowrap;
      padding-right: 12px;
      /*position: fixed;
      margin:8px;
      top: 75px;
      right: -60px;
      padding: 12px;*/
   }

   .first-section__box{
      
   }
   .first-section__img{
      
   }
}