
  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px;  
}

.cabecalho__img{
  height: 72px;
}

.navegacao{
  display: flex;
  gap: 32px;  
}

.icon-menu{
  display: none;
}

.menu-responsivo{
  border: 2.5px solid #FFF2E7;
  border-radius: 30px;
  margin-bottom: 3px;
  width: 42px;  
}

.navegacao-X{
  display: none;
}

.navegacao__link{
  color: #FFF2E7;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.Base{
  border-top: 0.4px solid #FFF2E7;
  margin-bottom: 48px;
}

.first-section{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first-section__box{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.first-section__box h1{
  color: #FFF2E7;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
}

.first-section__box h2{
  color: #ECD6C4;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.first-section__box button{
  background-color: #ECD6C4;
  border-radius: 20px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  color: #2F2325;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  height: 60px;
  width: 180px;
}

.first-section__box button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.first-section__img{
  height: 430px;
}

.last-section{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

.last-section__title{
  border-top: 0.4px solid #FFF2E7;
  color: #FFF2EF;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
  padding-top: 48px;
}

.last-section__paragrafo{
  color: #ECD6C4;
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.footer{
  border-top: 0.4px solid #FFF2E7;
  padding: 32px;
}

.footer__imgBallerini{
  display: block;
  height: 48px;
  margin: 0 auto;
}
  